.task-form{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .task-form h2{
    margin: 0;
  }
  .task-form >form {
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .task-form> form>div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }
  .task-form > form > div >div{
    flex: 1;
  }

  .task-form input.error,
  .task-form select.error,
  .task-form textarea.error{
    border: 1px solid red;
  }
  .error-message{
    color:red;
    font-size: 14px;
  }
  
  .task-form button {
    background-color: #f15c2f;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 30px;
    border-radius: 4px;
  }